/*---------------------------- AUDIO INFORMATIONS ---------------------------- */

#section__audio-infos .content__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#section__audio-infos .radio__container__sub {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#section__audio-infos {
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgb(1, 0, 24)),
      color-stop(34%, rgba(2, 0, 36, 0.7)),
      color-stop(45%, rgba(2, 0, 36, 0.2)),
      color-stop(55%, rgba(127, 99, 0, 0.01))),
    -webkit-gradient(linear, left bottom, left top, from(rgba(2, 0, 36, 1)), color-stop(23%, rgba(2, 0, 36, 0.811843487394958)), color-stop(38%, rgba(2, 0, 36, 0.6885941876750701)), color-stop(65%, rgba(127, 99, 0, 0.03593312324929976))),
    url("/img/pic4-hardware-c-mb-mastering.jpg");
  background-image: -webkit-linear-gradient(top,
      rgb(1, 0, 24) 0%,
      rgba(2, 0, 36, 0.7) 34%,
      rgba(2, 0, 36, 0.2) 45%,
      rgba(127, 99, 0, 0.01) 55%),
    -webkit-linear-gradient(bottom, rgba(2, 0, 36, 1) 0%, rgba(2,
        0,
        36,
        0.811843487394958) 23%, rgba(2, 0, 36, 0.6885941876750701) 38%, rgba(127,
        99,
        0,
        0.03593312324929976) 65%),
    url("/img/pic4-hardware-c-mb-mastering.jpg");
  background-image: -moz-linear-gradient(top,
      rgb(1, 0, 24) 0%,
      rgba(2, 0, 36, 0.7) 34%,
      rgba(2, 0, 36, 0.2) 45%,
      rgba(127, 99, 0, 0.01) 55%),
    -moz-linear-gradient(bottom, rgba(2, 0, 36, 1) 0%, rgba(2,
        0,
        36,
        0.811843487394958) 23%, rgba(2, 0, 36, 0.6885941876750701) 38%, rgba(127,
        99,
        0,
        0.03593312324929976) 65%),
    url("/img/pic4-hardware-c-mb-mastering.jpg");
  background-image: -o-linear-gradient(top,
      rgb(1, 0, 24) 0%,
      rgba(2, 0, 36, 0.7) 34%,
      rgba(2, 0, 36, 0.2) 45%,
      rgba(127, 99, 0, 0.01) 55%),
    -o-linear-gradient(bottom, rgba(2, 0, 36, 1) 0%, rgba(2,
        0,
        36,
        0.811843487394958) 23%, rgba(2, 0, 36, 0.6885941876750701) 38%, rgba(127,
        99,
        0,
        0.03593312324929976) 65%),
    url("/img/pic4-hardware-c-mb-mastering.jpg");
  background-image: linear-gradient(180deg,
      rgb(1, 0, 24) 0%,
      rgba(2, 0, 36, 0.7) 34%,
      rgba(2, 0, 36, 0.2) 45%,
      rgba(127, 99, 0, 0.01) 55%),
    linear-gradient(0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(2, 0, 36, 0.811843487394958) 23%,
      rgba(2, 0, 36, 0.6885941876750701) 38%,
      rgba(127, 99, 0, 0.03593312324929976) 65%),
    url("/img/pic4-hardware-c-mb-mastering.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
