/*---------------------------- TIMING----------------------------*/

#timing__hero-1 .content__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#timing__hero-1 {
  padding-bottom: 3rem;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, var(--color-orange-dark) 50%, black 100%);
}

#timing__hero-2 {
  width: 100%;
  height: auto;
  background-color: var(--color-orange);
  color: var(--color-black);
  position: relative;
}

#timing__hero-2>div {
  height: 100%;
}

#timing_title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top:6rem;
  margin-bottom: 3rem;
  font-weight: 400;
  color: var(--color-cream);

}

.timing__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2.5rem 0 0 0;
}

.timing__card {
  display: block;
  background-color: var(--color-orange-opacity);
  width: 30%;
  height: 100%;
  min-height: 10.625rem;
  padding: 1em;
}

.timing__card_title {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: -webkit-calc(2 * var(--font-size-1));
  font-size: -moz-calc(2 * var(--font-size-1));
  font-size: calc(2 * var(--font-size-1));
}

.indice-rpm {
  font-size: -webkit-calc(1.5 * var(--font-size-1));
  font-size: -moz-calc(1.5 * var(--font-size-1));
  font-size: calc(1.5 * var(--font-size-1));
}

.timing__card_separator:after {
  content: "";
  display: block;
  border-bottom: 0.125rem solid var(--color-cream);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.timing__card_text {
  margin-left: 10%;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.1875rem 0;
  font-size: -webkit-calc(1.3 * var(--font-size-1));
  font-size: -moz-calc(1.3 * var(--font-size-1));
  font-size: calc(1.3 * var(--font-size-1));
}

.indice-min {
  font-size: -webkit-calc(0.8 * var(--font-size-1));
  font-size: -moz-calc(0.8 * var(--font-size-1));
  font-size: calc(0.8 * var(--font-size-1));
}

.approx {
  font-size: -webkit-calc(0.7 * var(--font-size-1));
  font-size: -moz-calc(0.7 * var(--font-size-1));
  font-size: calc(0.7 * var(--font-size-1));
}

.timing__motto {
  display: block;
  font-size: -webkit-calc(2.2 * var(--font-size-1));
  font-size: -moz-calc(2.2 * var(--font-size-1));
  font-size: calc(2.2 * var(--font-size-1));
  text-transform: uppercase;
  padding: 1em;
}

.centrer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 1.25rem;
}

#timing_bottom {
  position: relative;
  z-index: map-get($z-index, timing_bottom)
}


@media screen and (max-width: 890px) {
  #timing__hero-1 {
    width: 100%;
    height: auto;
    margin-bottom: -0.625rem;
    padding-top: 2.25rem;
  }

  #timing__hero-2 {
    width: 100%;
    height: auto;
  }

  #timing__hero-2 .content__container {
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .two-columns>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .two-columns>div>div {
    margin: 1.25rem auto;
    width: 90vw;
  }

  .timing__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto 0;
  }

  .timing__card {
    display: block;
    background-color: var(--color-orange-opacity);
    width: 70%;
    margin-bottom: 2.5rem;
  }

  .timing__card_texts {
    text-align: center;
  }

  .timing__motto {
    text-align: center;
  }

  .timing__card_text {
    margin-left: 0;
  }

  .page__container-second {
    height: auto;
  }
}


@media screen and (max-width: 600px) {
  .timing__card {
    width: 90%;
  }
}

.timing__infoblock {
  margin: 1rem auto;
}
