.bandeau {
  width: auto;
  padding: 9px;
  text-align: center;
  color: var(--color-gray-tracklisting);
  background-color: var(--color-black);
  margin: 0 auto;
  font-family: var(--font-family-2);
  text-transform: uppercase;
  font-size: 0.875rem;
}
