#form_page_one,
#form_page_two {
  width: min(28.75rem, 90vw);
  margin: 0 auto;

  background: rgba(235, 234, 234, 0.94);
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}

.form__label {
  cursor: pointer;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.875rem;
  letter-spacing: 0.03em;
  color: black;
  text-transform: uppercase;
}


.form__container {
  margin: 8%;
  font-style: normal;
  font-weight: 250;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.form__container input[type="text"] {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: var(--color-cream);
  text-transform: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: black;
  font-weight: lighter;
  text-align: left;
  font-size: 1rem;
  border-bottom: 0.0625rem solid var(--color-orange-opacity);
  margin-bottom: 1.25rem;
}

.radio__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--color-orange-opacity);
}

.radio__container__sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
  -webkit-flex-grow: 0.5;
  -moz-box-flex: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-border {
  border-bottom: 0.0625rem solid;
}

.form-min-width {
  min-width: 8.75rem;
}

input:focus {
  outline: none;
  outline: 0;
}

input::-webkit-input-placeholder {
  text-align: left;
  color: black;
  opacity: 0.8;
}

input:-moz-placeholder {
  text-align: left;
  color: black;
  opacity: 0.8;
}

input::-moz-placeholder {
  text-align: left;
  color: black;
  opacity: 0.8;
}

input:-ms-input-placeholder {
  text-align: left;
  color: black;
  opacity: 0.8;
}

input::-ms-input-placeholder {
  text-align: left;
  color: black;
  opacity: 0.8;
}

input::placeholder {
  text-align: left;
  color: black;
  opacity: 0.8;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

/* -------- */

#form-speed {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

textarea {
  margin: auto;
  border: none;
  width: 100%;
  background-color: initial;
  font-family: inherit;
  line-height: 3ch;
  background-image: linear-gradient(
    transparent,
    transparent calc(3ch - 0.0625rem),
    var(--color-orange-opacity) 0px
  );
  -webkit-background-size: 100% 3ch;
  -o-background-size: 100% 3ch;
  background-size: 100% 3ch;
}

textarea:focus {
  border: none;
  outline: none;
}

@media screen and (max-width: 890px) {
  #audio_infos_form {
    display: block;
  }

  .form__container input[type="radio"] {
    margin-bottom: 0;
  }
}
